@keyframes flash {
  0% {
    background-color: red;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: red;
    color: white;
  }
}

.flashing-card {
  animation: flash infinite 1s;
}
